<!DOCTYPE html>
<html>
    <h>The unique value is:</h><br><br>
  <body>
  <script>
        var array = [" 500apps ", " clockly ", " hipsocial "," pushninja ", " pushninja ", " 500apps ",
         " hipsocial ", " clockly ", " clockly "," 500apps "];         
        var Array = [];
        var count = 0;
         var a = false;
        for (i = 0; i < array.length; i++) {
            for (j = 0; j < Array.length; j++) {
                if ( array[i] == Array[j] ) {
                    a = true;
                }
            }
                       
        }
        document.write(Array);
    </script>
</body>
  </html>                    